.review-items{
    width: 571px;
    border: 1px solid #95A0A7;
    border-radius: 8px;   
    margin-bottom: 25px;
    padding: 8px 25px 8px 8px;
    display: flex;
    align-items: center;
}
.review-details{
    flex-grow: 1;
}

.review-details p{
    margin: 0 15px;
}
.review-items .product-title{
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.032px;
    font-size: 21px;
}
.review-items img{
    width: 91px;
    height: 91px;
    border-radius: 6px;
}
.org-text{
    color: #F90;
}

.btn-delets{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background-color: rgba(235, 87, 87, 0.30);
    display: flex;
    justify-content: center;
    align-items: center;
}
.delet-icon{
    color: #EB5757;
   font-size: 27px;
}